.header {
    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    justify-content:space-between;
}

.headerLeft {
    display: flex;
    margin-left: 1100px;
    align-items: center;

}
.TITLE{
    color: red;
}

a > span{
    margin-left: 90px;
    /* margin: 30px; */
    font-size: 1.3rem;
    cursor: pointer;
    color: white;
}
a{
    text-decoration: none;
}

a > span:hover {
    color: red;
}

.header__icon {
    width: 80px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}

